@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Lato:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
th {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  display: none;
}
